Guide.md
Step.md
TODO.md

# Terraform
.terraform/
*.tfstate
*.tfstate.*
crash.log
# *.tfvars
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraform.lock.hcl

# Local .env or secret files
*.env
*.env.*

# Terraform plan output
*.plan

# Ignore backup files
*.backup

node_modules

/.cache
/build
/public/build
.env

.DS_Store
